.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64
env.*
~*
.pyc
.idea
.project
*.swo
*.swp
*.tmp
Thumbs.db
*.DS_Store
*.out
*.db
*.sqlite
log/*
tmp/*
*.py[cod]
*.mo
.pydevproject
.coverage
.nose
pip-log.txt
Icon
.AppleDouble
._*
.Spotlight-V100
.Trashes
