{% extends 'base.html' %}
{% load i18n %}
{% load url from future %}


{% block content %}

<h3>{% blocktrans %}Lisää uusi peli{% endblocktrans %}</h3>


<form action="{% url 'add_event' %}" method="post" id="event_add_form" class="form">
    {%  csrf_token  %}
    <h4>{% blocktrans %}Tiedot pelistä{% endblocktrans %}</h4>
    {{ new_event.as_p }}
    <h4>{% blocktrans %}Tiedot pelipaikasta{% endblocktrans %}</h4>
    {{ new_venue.as_p }}

    <button>{% trans "Lisää" %}</button>
</form>

{% endblock %}